<% include partials/header %>

<!--for fade-in animation -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
  AOS.init();

</script>
<!--for fade-in animation -->

<style>
.hide{
visibility: hidden;
}

</style>




<section id="mainSection" class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-center my-1 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8  col-sm-10 col-12 mt-0 mb-0">
                <a href="/home"><img src="images/logoFinal.png" width="300" height="180"></a>
                <h1 id= "main_title" class="font-weight-light mt-4 text-dark mb-2">Erdemy Career</h1>
				<p class="text-justify">英国求职现况：<br><br>

在英求职较为常见的校招管培生选拔流程包含了网申网测，视频面试，评估中心以及终面等重重环节，对候选人的语言能力、领域知识、准备程度、表达分析能力以及面试技巧等都有针对性的要求。<br><br>

英国工作的申请以及开放时间需要提前一年准备，主要分为入学季的秋招，以及来年三四月份的春招。<br><br>

对未来职业清晰的规划，及时的申请，清晰专业的个人简历以及充分的面试准备和练习将会大大提升留学生成功申请留英工作的几率。<br><br>

Erdemy Career 聚集了国际上所有领先的求职咨询与培训服务机构，致力于让求职者拿到满意的Offer。</p>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron jumbotron-fluid mt-0 mb-0" style="background-color: #f7faff;">

    <div class="container">

      <div class="row">
	    
		<div class="col">

			<div class="row mb-5 justify-content-center">

				<div class="col-12 col-sm-12 col-md-5 col-lg-3 my-auto" data-aos="fade-right" data-aos-duration="2000">
				<img src="images/career_vantage.png" class="img-fluid my-5">
				</div>

				<div class="col-12 col-md-6 my-auto" style="border-left:solid;">
				     <p class="text-justify" style="line-height: 26pt; font-size:13pt;">CareerVantage 是一家求职咨询与培训服务机构，秉承 “帮助留学生找到好工作” 的使命，致力于让求职者拿到满意的offer，其定位是“ 定制化的专属求职服务” ，为客户提供行业分析，名企实习，职业规划，职位推荐，背景提升，简历修改，网申和网测培训，面试培训，评估中心和钟面定制培训等贯穿求职申请所有阶段的服务</p>
				</div>
				

			</div>



			<div class="row justify-content-center">
			

				<div class="col-12 col-md-3 ml-auto">
				    <h2 style="font-weight: bold; font-size:13pt;">网申和网测培训</h2>
				    <p class="text-left">• 公司招聘信息搜索和专业帮助<br>• 定制化求职辅导课程<br>• CV 修改和设计<br>• 申请表和求职信校验<br>• 在线技能测试</p>
				</div>

				<div class="col-12 col-md-3">
				    <h2 style="font-weight: bold; font-size:13pt;">面试综合培训</h2>
				    <p class="text-left">• 定制化求职辅导课程<br>• 专业导师校对面试答复<br>• 面试题库</p>
				</div>

				<div class="col-12 col-md-3 mr-auto">
				    <h2 style="font-weight: bold; font-size:13pt;">评估中心和终面定制培训</h2>
				    <p class="text-left">• 定制评估中心培训<br>• 定期评估中心演练<br>• 定制化求职辅导课程<br>• 评估中心和终面题库</p>
				</div>

			</div>



			<div class="row justify-content-center">



				<div class="col-auto">

								<button type="button" class="btn btn-primary btn-sm">
									<a href="/files/CVUK宣传册.pdf" style="color:white;">了解详情 </a>
								</button>							 
				</div>



				<div class="col-auto">

								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode">
									联系客服
								</button>							 
								<div class="modal fade" id="qrcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">联系客服</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="row justify-content-center">
													<img class="col-atuo" src="images/contact_QR.jpg" width="180" height="200">
												</div>
											</div>
										</div>
									</div>
								</div>

				</div>


			</div>



			<div class="row my-5 justify-content-center">

				<div class="col-12 col-sm-12 col-md-5 col-lg-3 my-auto" data-aos="fade-right" data-aos-duration="2000">
				   <img src="images/tequila.png" class="img-fluid my-5">
				</div>

				<div class="col-12 col-md-6 my-auto" style="border-left:solid;">
				     <p class="text-justify" style="line-height: 26pt; font-size:13pt;">WST成立于2014年，是业内领先的结果导向型留学生求职咨询平台，拥有2000多位精英导师，所有导师均来自麦肯锡，高盛，德勤，谷歌、AIG等顶级金融、咨询、四大、精算、科技、时尚、法律公司。如今，WST学员足迹已遍布美国，英国，香港，加拿大，大陆，新加坡，日本，澳洲。WST在过去五年所有学员Offer年薪累计超20亿人民币，其中1500+位学员毕业即获年薪百万的offer。WST也是2018年唯一上榜福布斯教育板块的Career Coaching公司。</p>
				</div>


			</div>




			<div class="row justify-content-center">



					<div class="col-auto">
						<div class="row"><div class="col-auto"><h2 style="font-weight: bold; font-size:13pt;">服务内容:</h2></div></div>
						<div class="row"><div class="col-auto"><br></div></div>
						<div class="row mt-2 title_margin1"><div class="col-auto"><h2 style="font-weight: bold; font-size:13pt;">擅长领域:</h2></div></div>
						<div class="row"><div class="col-auto"><br></div></div>
					</div>


					<div class="col-8 col-md-auto">
					    <div class="row"><div class="col-auto"><br></div></div>

						<div class="row" id="rowrow">
							<div class="col-auto">
								<p>简历精修</p>
							</div>
							<div class="col-auto">
								<p>面试真题</p>
							</div>
							<div class="col-auto">
								<p>面试辅导</p>
							</div>
							<div class="col-auto">
								<p>名企内推</p>
							</div>
							<div class="col-auto">
								<p>一对一辅导</p>
							</div>
						</div>

						<div class="row"><div class="col-auto"><br></div></div>

						<div class="row">
							<div class="col-auto">
								<p>Finance</p>
							</div>
							<div class="col-auto">
								<p>Consulting</p>
							</div>
							<div class="col-auto">
								<p>Accounting</p>
							</div>
							<div class="col-auto">
								<p>Technology</p>
							</div>
							<div class="col-auto">
								<p>Fashion</p>
							</div>
							<div class="col-auto">
								<p>Data</p>
							</div>
						</div>

						<div class="row">
							<div class="col-auto">
								<p>Law</p>
							</div>
							<div class="col-auto">
								<p>Marketing&Corporates</p>
							</div>
						</div>

					</div>

			</div>




			<div class="row justify-content-center mt-5">



				<div class="col-auto">

								<button type="button" class="btn btn-primary btn-sm">
									<a href="/images/Tequila_details.jpg" style="color:white;">了解详情 </a>
								</button>							 
				</div>



				<div class="col-auto">

								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode_tequila">
									联系客服
								</button>							 
								<div class="modal fade" id="qrcode_tequila" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">联系客服</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="row justify-content-center">
													<img class="col-atuo" src="images/tequila_contact.jpg" width="180" height="200">
												</div>
											</div>
										</div>
									</div>
								</div>

				</div>


			</div>



			<div class="row my-5 justify-content-center">

				<div class="col-12 col-sm-12 col-md-5 col-lg-3 my-auto mr-3" data-aos="fade-right" data-aos-duration="2000">
				   <img src="images/frog_client.png" class="img-fluid my-5">
				</div>

				<div class="col-12 col-md-6 my-auto" style="border-left:solid;">
				     <p class="text-justify" style="line-height: 26pt; font-size:13pt;">职业蛙Careerfrog是国际领先的大学生求职服务品牌，致力于引领大学生迈好职场第一步。用户覆盖23个国家和地区的770多所高校，帮助了上万名学生成功斩获顶级行、咨询公司、互联网巨头、500强企业等全职或实习Offer。目前职业蛙在上海、伦敦、波士顿均设有办公室，更好地为数百万位用户、数百家企业、高校和政府机构提供服务，现已完成C轮融资。</p>
				</div>


			</div>

			
			<div class="row justify-content-center">


					<div class="col-sm-auto	col-md-8 col-lg-10 col-xl-11">

						<div class="row">
						  <div class="col-auto"><h2 style="font-weight: bold; font-size:13pt;">劵商故守offer直通计划:</h2></div>
						  <div class="col"></div>
                        </div>



						<div class="row mb-3" id="first_row">
						  <div class="col-auto px-0" id="rowrow-1"></div>


						  <div class="col-auto">
								<p>岗位认知</p>
						  </div>
						  <div class="col-auto">
								<p>能力图谱</p>
						  </div>
					      <div class="col-auto">
								<p>硬技能</p>
						  </div>

					      <div class="col-auto px-0" id="row-1-col-1">	
						  </div>

						  <div class="col-auto align-self-end">
								<p>软实力</p>
						  </div>						  
                        </div>


						
						<div class="row">
						  <div class="col-auto"><h2 style="font-weight: bold; font-size:13pt;">互联网产品offer直通计划:</h2></div>
						  <div class="col"></div>
                        </div>

						<div class="row" id="second_row">
						  <div class="col-auto px-0" id="rowrow-2"><h2 style="font-weight: bold; font-size:13pt; padding-left:20px;" class="hide">互联网产品offer直通计划:</h2></div>
						  <div class="col-auto" >
								<p>互联网公司岗位介绍及定位</p>
						  </div>
					      <div class="col-auto px-0" id="row-2-col-1">	
						  </div>
						  <div class="col-auto">
								<p>互联网公司全流程时间线梳理</p>
						  </div>
					      <div class="col-auto px-0" id="row-2-col-2">	
						  </div>
						  <div class="col-auto">
								<p>互联网公司笔试面试三大环节准备</p>
						  </div>
                        </div>



					</div>

					





						


			

			</div>



			<div class="row justify-content-center mt-5">



				<div class="col-auto">

								<button type="button" class="btn btn-primary btn-sm">
									<a href="/files/Careerfrog职业蛙品牌手册（2019年8月版）.pdf" style="color:white;">了解详情 </a>
								</button>							 
				</div>




				<div class="col-auto">

								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode_tequila">
									联系客服
								</button>							 
								<div class="modal fade" id="qrcode_tequila" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">联系客服</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="row justify-content-center">
													<img class="col-atuo" src="images/tequila_contact.jpg" width="180" height="200">
												</div>
											</div>
										</div>
									</div>
								</div>
				</div>


			</div>


			<div class="row my-5 justify-content-center">

			<div class="col-12 col-sm-12 col-md-5 col-lg-3 my-auto" data-aos="fade-right" data-aos-duration="2000">
			<a href="https://ecareersgrad.co.uk/ref/ErdemyEducation"><img src="images/eCareersGrad_logo.png" class="img-fluid my-5"></a>
			</div>

			<div class="col-12 col-md-6 my-auto" style="border-left:solid;">
			<p class="text-justify" style="line-height: 26pt; font-size:13pt;"><a href="https://ecareersgrad.co.uk/ref/ErdemyEducation">eCareersGrad</a> 是一个由外国大学教授团队打造，提供高质量，互动性强的网上职业培训服务平台。在英国，对留学生来说毕业岗位（Graduate Scheme），实习岗位 (Internship)和体验周（Insight Week）竞争强度是非常大的。eCareersGrad 的课程为留学生量身订制，提供必要的求职技巧。帮助学员定制目标，重点申请英国150个雇佣留学生最多的公司。请点击网站了解为什么申请者在面试环节表现平平，有哪些应试技巧一定要学习，观看应用环节来提升面试技巧。</p>
			</div>


			</div>



			<div class="row justify-content-center">


			<div class="col-12 col-md-3 ml-auto">
			<h2 style="font-weight: bold; font-size:13pt;">如何在面试中过关</h2>
			<p class="text-left">• 12个出色的面试视频例子，让你了解好与不好的回答<br>• 15个面试问题及面试官打分标准<br>• 如何规划你的答案，向面试官提问，以及更多其他技巧</p>
			</div>

			<div class="col-12 col-md-3">
			<h2 style="font-weight: bold; font-size:13pt;">留学生：把目标放在对的公司</h2>
			<p class="text-left">• 英国前150个招募国际留学生最多的公司（包括各行业）<br>• 全面详细解答英国毕业岗位（Graduate Scheme），实习岗位（Internship）申请步骤及技巧</p>
			</div>

			<div class="col-12 col-md-3 mr-auto">
			<h2 style="font-weight: bold; font-size:13pt;">网申题库</h2>
			<p class="text-left">合作伙伴AssessmentDay 提供的100多份网申题:<br>• 语言（verbal），数学（numerical）及图像问题（diagrammatical reasoning<br>• 情景测试问题（situational judgement）和e-tray练习<br>• 独立思考以及群面终面技巧<br></p>
			</div>

			</div>



			<div class="row my-2 justify-content-center">

			<div class="col-auto mx-auto">
			<h2 style="font-weight: bold; font-size:13pt;">ErdemyEducation 25% off专用优惠码：erdemy25</h2>
			</div>

			</div>


			<div class="row my-2 justify-content-center">

			<div class="col-12 col-md-10 col-lg-6">
			<a href="https://ecareersgrad.co.uk/ref/ErdemyEducation"><img src="images/eCareersGrad_Banner.gif" class="img-fluid"></a>

			</div>

			<div class="row my-2 justify-content-center">

			<div class="col-12 col-md-10 col-lg-6">
			<a href="https://ecareersgrad.co.uk/ref/ErdemyEducation"><img src="images/eCareersGrad_Banner1.gif" class="img-fluid"></a>
			</div>

			</div>



			<div class="row justify-content-center">



			<div class="col-auto">

			<button type="button" class="btn btn-primary btn-sm">
			<a href="https://ecareersgrad.co.uk/ref/ErdemyEducation" style="color:white;">了解详情 </a>
			</button>
			</div>



			<div class="col-auto">

			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode">
			联系客服
			</button>
			<div class="modal fade" id="qrcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">联系客服</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<div class="row justify-content-center">
			<img class="col-atuo" src="images/contact_QR.jpg" width="180" height="200">
			</div>
			</div>
			</div>
			</div>
			</div>

			</div>


			</div>


























		  </div>

		</div>

	</div>




</section>



<script>

function row() {
							    

	$("div#row-1-col-1,div#row-2-col-1,div#row-2-col-2").html('');		
	$("div#row-11,div#row-22").css( { paddingRight : "0px"} );
	$("div#rowrow-1").html('<h2 style="font-weight: bold; font-size:13pt; padding-left:20px;" class="hide">劵商故守offer直通计划:</h2>');	
	$("div#rowrow-2").html('<h2 style="font-weight: bold; font-size:13pt; padding-left:20px;" class="hide">互联网产品offer直通计划:</h2>');	
	


	if ($("div#second_row").height()>=80) {	   
	    $("div#rowrow-1").html('');	

		$("div#rowrow-2").html('');
	}


	if ($("div#rowrow").height()>=80 && $("div#rowrow").height()<120) {	   
	
	    $("div.title_margin1").css( { paddingTop:"50px"} );
	}	
	else if ($("div#rowrow").height()>=120) {	   
	    $("div.title_margin1").css( { paddingTop:"80px"} );

	}	
	else { $("div.title_margin1").css( { paddingTop:"0px"} );

	}

	
}




row();

window.onresize = function(event) {
row();
};
</script>






<% include partials/footer %>
