<% include partials/header %>
    <div id="page-content" class="mt-5">
        <div class="container text-center">
            <div class="row justify-content-center">

                <div class="col-md-7">
                    <h1 id="main_title" class="font-weight-light mt-5 text-dark">Foundation Page</h1>
                </div>

            </div>

            <div class="row">

                <div class="col-6 col-md-4">
                    <h4 class="font-weight-light mt-5 text-danger">Social Sciences and Law</h4>
                    <div class="row justify-content-center">
                        <h5 class="font-weight-light mt-2 text-white">Compulsory</h5>
                    </div>
                    <div class="row justify-content-center">
                        <ul>
                            <li class="font-weight-light text-white">Text Response</li>
                            <li class="font-weight-light text-white">Academic Writing</li>
                        </ul>
                    </div>
                    <div class="row justify-content-center">
                        <h5 class="font-weight-light mt-2 text-white">Optional</h5>
                    </div>
                    <div class="row justify-content-center">
                        <ul>
                            <li class="font-weight-light text-white">Accelerated Academic Language and Literacy</li>
                            <li class="font-weight-light text-white">Foundations of Chemistry</li>
                            <li class="font-weight-light text-white">Foundations of Physics</li>
                            <li class="font-weight-light text-white">Foundations in Biomedical Sciences</li>
                            <li class="font-weight-light text-white">Literature: Exploring Short Stories</li>
                            <li class="font-weight-light text-white">Foundations of Finance and Economics</li>
                            <li class="font-weight-light text-white">British Constitutional History</li>
                            <li class="font-weight-light text-white">Introduction to the Social Sciences</li>
                            <li class="font-weight-light text-white">What Does it Mean to be Human? I: The Modern World</li>
                            <li class="font-weight-light text-white">Post-War European Cinema</li>
                        </ul>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <h4 class="font-weight-light mt-5 text-danger">Science, Technology, Engineering and Mathematics</h4>
                    <div class="row justify-content-center">
                        <h5 class="font-weight-light mt-2 text-white">Compulsory</h5>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <h4 class="font-weight-light mt-5 text-danger">Arts and Humanities</h4>
                    <div class="row justify-content-center">
                        <h5 class="font-weight-light mt-2 text-white">Compulsory</h5>
                    </div>
                </div>
            </div>


            <!--<div class="row justify-content-center">-->
                <!--<div class="col-md-7">-->
                    <!--<video id="videoPlayer" width="600" height="450" controls>-->
                        <!--<source src="/video" type="video/mp4">-->
                    <!--</video>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
<% include partials/footer %>
