<!DOCTYPE html>
<html>
    <head>
        <title>Erdemy Education</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142131401-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-142131401-1');
        </script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href='stylesheets/landing.css' />
        <link href="https://fonts.googleapis.com/css?family=Mandali|Prata&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>


    <div id="landing-header">
                <a href="/"><img src="images/Color_logo.png" width="150" height="143.7"></a>
                <h1 class="font-weight-light mt-1 text-white" style="text-shadow: 2px 2px 2px black;">Erdemy Education</h1>
                <h5 class="font-weight-light mt-1 text-white" style="text-shadow: 2px 2px 2px black;"><i>presents</i></h5>
                <h5 class="font-weight-light mt-1 text-white" style="text-shadow: 2px 2px 2px black;">Free Online Tutoring Service</h5>
                <a href="/home" class="btn btn-lg mt-3 btn-primary">Enter Erdemy</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    </body>
</html>