<% include partials/header %>
<div id="page-content" class="mt-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1 id="main_title"class="font-weight-light mt-5 text-white">Postgraduate Page</h1>
            </div>
            <div class="card-group my-5">
  <div class="card col-lg-4 mt-5 align-items-center">
    <img class="card-img-top mt-5" src="images/postgrad.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Collaborate</h4>
      <p class="card-text">Gain the opportunity to work on stellar projects with fellow postgraduates around the world!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card col-lg-4 mt-5 align-items-center">
    <img class="card-img-top mt-5" src="images/more_postgrad.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Explore</h4>
      <p class="card-text">Select between the variety of videos we have at our disposal!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card col-lg-4 mt-5 align-items-center">
    <img class="card-img-top mt-5" src="images/researchers-talking.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Connect</h4>
      <p class="card-text">Our social hub for like-minded individuals is growing so much daily! Make some lifelong friends whilst you study!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
        </div>
    </div>
</div>
</div>
<% include partials/footer %>
