<% include partials/header %>



<style>
@media screen and (max-width: 1000px) {
#padding_div {
	padding-right:20%;
  }
}

</style>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootsrap offered by MaxCDN (company renamed as StackPath) -->



<section id="mainSection" class="jumbotron jumbotron-fluid mb-0" >
    <div class="container text-center my-4 mx-auto pb-5">

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 mt-0 mb-4">
                <a href="/home"><img src="images/logoFinal.png" width="300" height="180"></a>
                <h1 id= "main_title" class="font-weight-light mt-4 text-dark mb-5">Academic writing:</h1>
				<p class="text-justify">此模块旨在帮助同学们更好的了解高水平的学术写作的构思和呈现，视频由名师和学霸精心编制，倾囊相授。无论你是刚来到英国接触essays的新生们，还是即将要毕业正在电脑前苦苦挣扎赶论文的毕业生们，我们的视频都能提高你的学术写作水平。<br><br>

Chapter1-3: 帮助预科，语言班（essay，report，MRR，CCR）以及刚来到英国的新生们对学术写作有一定认识。<br><br>
Chapter 4 ：本科，研究生更好的理解和规划自己的毕业论文。</p>
                <!--<p class="col-lg-11 font-weight-light mt-5 text-dark">布里斯托大学语言班（Presessional Course）分为六周，十周，以及十四周三种，旨在提高学生的学术语言能力和读写能力，提高英语水平，适应在英国的生活和学习以及满足语言条件。语言班考核内容有五项，每项均占总分的20%，分别为，MRR（小型调查报告）、reading（阅读）、listening（听力）、SAQ（限时简短回答问题）以及presentation（口语）。 近三年整体通过率均在95%左右。网站Pre－sessional模块旨在提供一些免费视频辅导，帮助同学们顺利通过语言班，取得好成绩</p>-->
            </div>
        </div>
    </div>
</section>

<section class="jumbotron jumbotron-fluid mt-0 mb-0" style="background-color: #f7faff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row my-5">
                    <div class="col-6 col-lg-3">
                        <img src="images/thumbnails/Color_logo.png" alt="" class="img-fluid mb-4 img_border" width="250" height="140">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saq11Modal">
                            ▶ Play 1-1
                        </button>
                        <div class="modal fade" id="saq11Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg"  role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">1-1</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="iframe_identifier" src="https://player.vimeo.com/video/351371562"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-12 col-sm text-left">
					  <h2><i>Introduction to Academic Writing</i></h2>
					  <p> 本视频作为该系列课程的开篇视频，着重介绍了学术写作的目的、类型，及学术写作过程中各部分的注意事项和技巧。通过观看该视频，你将了解到如何提高学术写作水平，优秀的论文应具备哪些特征。</p>
					  <p>Chapter 1 reference: • <a href="https://www.enago.com/academy/how-to-optimize-sentence-length-in-academic-writing/">Top 6 Tips to Optimize Sentence Length in Your Research Paper - Enago Academy. (2019).</a>
		• <a href="https://library.leeds.ac.uk/info/14011/writing/106/academic_writing/4">Academic writing. (2019).</a></p>
					 
					</div> 
         </div>





                
                <div class="row my-5">
                    <div class="col-6 col-lg-3">
                        <img src="images/thumbnails/Color_logo.png" alt="" class="img-fluid mb-4 img_border" width="250" height="140">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saq21Modal">
                            ▶ Play 2-1
                        </button>
                        <div class="modal fade" id="saq21Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">2-1</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="iframe_identifier"  src="https://player.vimeo.com/video/351373632" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
			 <div class="col-12 col-sm text-left" >
			  <h2><i>Types of Academic Writing</i></h2> 
              <p>本视频着重介绍学术写作的常见四大分类，分别为描述类（Descriptive）、分析类(Analytical)、说服类(Persuasive)和批判类(Critical)。一篇学术论文中，通常会在各部分运用不同的写作方法。视频继续拓展介绍不同形式的学术写作，分别为文章(Essay)、报告(Report)、文献综述(Literature Review)、反思性写作(Reflective Writing)和论文(Dissertation)。通过论文实例，分析写作方法，总结技巧，为学生提供思路。</p>
			  <p>Chapter 2 reference: • <a href="https://my.cumbria.ac.uk/Student-Life/Learning/Skills-Cumbria/Academic-Writing/">My.cumbria.ac.uk. (2019). Writing at University | MyCumbria. </a>
• <a href="https://sydney.edu.au/students/writing/types-of-academic-writing.html">The University of Sydney. (2019). Types of academic writing.</a>
• <a href="https://library.leeds.ac.uk/info/14011/writing/106/academic_writing"> Library.leeds.ac.uk. (2019). Academic writing.</a></p>
			  
		    </div> 
           </div>



				
                
                <div class="row my-5">
                    <div class="col-6 col-lg-3">
                        <img src="images/thumbnails/Color_logo.png" alt="" class="img-fluid mb-4 img_border" width="250" height="140">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saq31Modal">
                            ▶ Play 3-1
                        </button>
                        <div class="modal fade" id="saq31Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">3-1</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="iframe_identifier"  src="https://player.vimeo.com/video/351372594" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div class="col-12 col-sm text-left" >
              <h2><i>How to write discussion part in your writing - Brief Introduction</i></h2>
			  <p>本视频着重讲解学术写作中的讨论部分（ Discussion section）。“讨论”是一篇学术写作能否获得认可、取得高分的重要衡量标准，对于高水平的学术写作至关重要。在讨论部分中，应把结果部分（Results/Finding）中展示的证据线索和开篇(Introduction)中的背景资料关联起来。通过该部分的写作，向读者展现你对该研究主题的理解，解决该问题的能力，及批判性思考的能力。</p>
			  <p>Chapter 3 reference: • <a href="https://www.jianshu.com/p/51b1f366de8f">学术论文写作指南. (2019).</a> 
• <a href="http://clinchem.aaccjnls.org/content/56/11/1671">Annesley, T. (2010). The Discussion Section: Your Closing Argument. Clinical Chemistry, 56(11), 1671-1674.</a>
• <a href="https://libguides.usc.edu/writingguide/discussion"> Research Guides: Organizing Your Social Sciences Research Paper: 8. The Discussion. (2019).</a></p>
		    </div> 
           </div>

            </div>
        </div>
    </div>
</section>


<section class="jumbotron my-0 py-0">
          <div class="container mb-3">  
			<div class="row justify-content-center mx-auto">
				<div class="col-7 col-sm-5 col-md-4 col-lg-2 slideanim">
					<img src="images/Black_logo.png" class="img-fluid" alt="logo">
						</div>	
					<div class="col-12 col-sm-auto my-auto slideanim">
						<h2 style="font-size:4em; text-align:center" >Erdemy Tutorial</h2>
					</div>
				</div>
				<div class="row justify-content-center">
						<div class="col-auto" style="font-size:25px;">
							<ul>
								<li><p class="mt-5 font-weight-bold" style="font-size:20px;">正课内容辅导</p></li>
								<li><p class="font-weight-bold" style="font-size:20px;">考试考前辅导</p></li>
								<li><p class="font-weight-bold" style="font-size:20px;">学术写作辅导</p></li>
								<li><p class="font-weight-bold" style="font-size:20px;">语言班预科专题辅导</p></li>
							</ul>
						</div>
						<div class="col-auto slideanim" style="padding-left:20%;" id="padding_div">
						<img src="images/Mockup2NoBG.png" class="img-fluid mt-0 pt-0" alt="computerBG" width="400" height="127.8">
						</div>
				</div>

				<div class="row justify-content-center">
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode">
									<a href="/tutorial" style="color:white;">了解详情</a>
								</button>							 
				</div>
          </div>  
</section>





<section class="jumbotron jumbotron-fluid mt-0 mb-0" style="background-color: #f7faff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">   
                <div class="row my-5">
                    <div class="col-6 col-lg-3">
                        <img src="images/thumbnails/Color_logo.png" alt="" class="img-fluid mb-4 img_border" width="250" height="140">
                        <button type="button" class="btn btn-primary btn-sm mb-2" data-toggle="modal" data-target="#saq41Modal">
                            ▶ Play 4-1
                        </button>
                        <div class="modal fade" id="saq41Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">4-1</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="iframe_identifier"  src="https://player.vimeo.com/video/351377118" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <img src="images/thumbnails/Color_logo.png" class="img-fluid mb-4 img_border" alt="" width="250" height="140">
                        <button type="button" class="btn btn-primary btn-sm mb-2" data-toggle="modal" data-target="#saq42Modal">
                            ▶ Play 4-2
                        </button>
                        <div class="modal fade" id="saq42Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">4-2</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="iframe_identifier"  src="https://player.vimeo.com/video/351381306" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <img src="images/thumbnails/Color_logo.png" alt="" class="img-fluid mb-4 img_border" width="250" height="140">
                        <button type="button" class="btn btn-primary btn-sm mb-2" data-toggle="modal" data-target="#saq43Modal">
                            ▶ Play 4-3
                        </button>
                        <div class="modal fade" id="saq43Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">4-3</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="iframe_identifier"  src="https://player.vimeo.com/video/351377943" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <img src="images/thumbnails/Color_logo.png" alt="" class="img-fluid mb-4 img_border" width="250" height="140">
                        <button type="button" class="btn btn-primary btn-sm mb-2" data-toggle="modal" data-target="#saq44Modal">
                            ▶ Play 4-4
                        </button>
                        <div class="modal fade" id="saq44Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">4-4</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="iframe_identifier"  src="https://player.vimeo.com/video/351382732" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
		    <div class="col text-left mt-5">
		      <h2><i>A general guidance to academic writing</i></h2>
			  <p>本系列视频旨在通过最为简洁明了的方式为学生提供完整的学术写作思路，使学生通过观看该系列视频了解、掌握并能够运用视频中涉及的方法，提高自身学术写作水平，提高论文成绩。</p>
		    </div>
           </div>



            </div>
        </div>
    </div>
</section>


<script>
function stopVideo(modal_id) {
var $frame =$(modal_id).children(".modal-dialog").children(".modal-content").children(".modal-body").children(".embed-responsive").children("iframe")
    
// saves the current iframe source
var vidsrc = $frame.attr('src');
  
// sets the source to nothing, so video is stopped
$frame.attr('src', '');

// sets it back to the correct link so that it reloads immediately on the next window open
$frame.attr('src', vidsrc);

}


$("#saq11Modal").on('hidden.bs.modal', function () {stopVideo("#saq11Modal");});
$("#saq21Modal").on('hidden.bs.modal', function () {stopVideo("#saq21Modal");});
$("#saq31Modal").on('hidden.bs.modal', function () {stopVideo("#saq31Modal");});
$("#saq41Modal").on('hidden.bs.modal', function () {stopVideo("#saq41Modal");});
$("#saq42Modal").on('hidden.bs.modal', function () {stopVideo("#saq42Modal");});
$("#saq43Modal").on('hidden.bs.modal', function () {stopVideo("#saq43Modal");});
$("#saq44Modal").on('hidden.bs.modal', function () {stopVideo("#saq44Modal");});

</script>

<section id="sponsorSection" class="jumbotron jumbotron-fluid mt-0 mb-0">

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <a href="https://www.curve.app/en-gb/"><img src="images/curve.png" class="img-fluid slideanim" alt="curve" width="400" height="127.8"></a>
        </div>

        <div class="row">
            <div class="mt-5 col-lg-6">
                <ul>
                    <li><p>Curve，英国最流行的网上银行之一</p></li>
                    <li><p>异国取现刷卡均免除手续费</p></li>
                    <li><p>2周内可更改付款银行卡</p></li>
                    <li><p>绑定三家主流超市，刷卡返现！</p></li>
                    <li><p>1键下载APP，2分钟办卡，3天内寄到，记得填写<strong style="color:red;">推广码 “66666”</strong> (5个6)，即可免费获得5镑现金！</p></li>
                </ul>
            </div>

            <div class="text-center mt-5 col-lg-6">
                <img src="images/curveIntro.png" alt="curve" width="180" height="282.6" class="slideanim">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center my-3">
            <a class="btn btn-primary btn-md" href="https://www.curve.app/en-gb/" role="button">Go to Website</a>
        </div>

        <div class="row justify-content-center">
            <a href="https://itunes.apple.com/gb/app/id1049397112?mt=8" class="mx-4 my-2"><img src="images/app-store-white.svg" alt=""></a>
            <a href="https://play.google.com/store/apps/details?id=com.imaginecurve.curve.prd&hl=en_GB&af_prt=Rebelhack&pid=imaginecurve.com" class="mx-4 my-2"><img src="images/play-store-white.svg" alt=""></a>
        </div>
    </div>
</section>




<% include partials/footer %>
