<% include partials/header %>

<div id="page-content">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1 id="main_title" class="font-weight-light mt-5 text-dark">Tony's Secret Page</h1>
            </div>
        </div>

        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-7">
                <p>怎么这么不听话，都让你别点了！</p>
                <p>那既然你都点进来了，请提出您对我们网站的宝贵意见吧！</p>
                <p>请炮轰椭尼微信：</p>
                <image src="images/TonyQR.JPG" height="398.8" width="300"></image>
            </div>
        </div>

    </div>
</div>






<% include partials/footer %>