<% include partials/header %>

<!--for fade-in animation -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
  AOS.init();
</script>
<!--for fade-in animation -->

<section id="mainSection" class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-center my-1 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8  col-sm-10 col-12 mt-0 mb-0">
                <a href="/home"><img src="images/logoFinal.png" width="300" height="180"></a>
                <h1 id= "main_title" class="font-weight-light mt-4 text-dark mb-2">Erdemy Travel</h1>
				<p class="text-justify">英国求职现况：<br><br>

在英求职较为常见的校招管培生选拔流程包含了网申网测，视频面试，评估中心以及终面等重重环节，对候选人的语言能力、领域知识、准备程度、表达分析能力以及面试技巧等都有针对性的要求。<br><br>

英国工作的申请以及开放时间需要提前一年准备，主要分为入学季的秋招，以及来年三四月份的春招。<br><br>

对未来职业清晰的规划，及时的申请，清晰专业的个人简历以及充分的面试准备和练习将会大大提升留学生成功申请留英工作的几率。<br><br>

Erdemy Career 聚集了国际上所有领先的求职咨询与培训服务机构，致力于让求职者拿到满意的Offer。</p>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron jumbotron-fluid mt-0 mb-0" style="background-color: #f7faff;">

    <div class="container">

      <div class="row">
	    
		<div class="col">

			<div class="row mb-5 justify-content-center">

				<div class="col-12 col-sm-12 col-md-5 col-lg-3 my-auto" data-aos="fade-right" data-aos-duration="2000">
				<a href="/home"><img src="images/career_vantage.png" class="img-fluid my-5"></a>
				</div>

				<div class="col-12 col-md-6 my-auto" style="border-left:solid;">
				     <p class="text-left" style="line-height: 26pt; font-size:13pt;">CareerVantage 是一家求职咨询与培训服务机构，秉承 “帮助留学生找到好工作” 的使命，致力于让求职者拿到满意的offer，其定位是“ 定制化的专属求职服务” ，为客户提供行业分析，名企实习，职业规划，职位推荐，背景提升，简历修改，网申和网测培训，面试培训，评估中心和钟面定制培训等贯穿求职申请所有阶段的服务</p>
				</div>


			</div>


			<div class="row">
			

				<div class="col-12 col-md-3 ml-auto" >
				    <h2 style="font-weight: bold; font-size:13pt;">网申和网测培训</h2>
				    <p class="text-left">• 公司招聘信息搜索和专业帮助<br>• 定制化求职辅导课程<br>• CV 修改和设计<br>• 申请表和求职信校验<br>• 在线技能测试</p>
				</div>

				<div class="col-12 col-md-3">
				    <h2 style="font-weight: bold; font-size:13pt;">面试综合培训</h2>
				    <p class="text-left">• 定制化求职辅导课程<br>• 专业导师校对面试答复<br>• 面试题库</p>
				</div>

				<div class="col-12 col-md-3 mr-auto">
				    <h2 style="font-weight: bold; font-size:13pt;">评估中心和终面定制培训</h2>
				    <p class="text-left">• 定制评估中心培训<br>• 定期评估中心演练<br>• 定制化求职辅导课程<br>• 评估中心和终面题库</p>
				</div>

			</div>



			<div class="row justify-content-center">



				<div class="col-auto">

								<button type="button" class="btn btn-primary btn-sm">
									<a href="/files/CVUK宣传册.pdf" style="color:white;">了解详情 </a>
								</button>							 
				</div>



				<div class="col-auto">

								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode">
									联系客服
								</button>							 
								<div class="modal fade" id="qrcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">联系客服</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="row justify-content-center">
													<img class="col-atuo" src="images/contact_QR.jpg" width="180" height="200">
												</div>
											</div>
										</div>
									</div>
								</div>

				</div>


			</div>




		  </div>

		</div>

	</div>

</section>






<% include partials/footer %>
