<% include partials/header %>

<style>
h2 {font-weight: bold; text-align: center; font-size:40px;}
@media screen and (max-width: 1000px) {
.padding_div {
	padding-right:20%;
  }
.padding_divdiv {
	padding-bottom:10%;
  }
}
</style>

<!--for fade-in animation -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
  AOS.init();
</script>
<!--for fade-in animation -->

<section id="mainSection" class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-center my-1 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8  col-sm-10 col-12 mt-0 mb-0">
                <a href="/home"><img src="images/logoFinal.png" width="300" height="180"></a>
                <h1 id= "main_title" class="font-weight-light mt-4 text-dark mb-5">Erdemy Tutorial</h1>
<!-- 			<p class="text-justify" style="line-height:25pt; font-size:15pt;">Erdemy Tutorial 在线辅导平台由Erdemy Education平台官方直营，切实保障每一位同学从前期咨询到上课再到后期效果反馈的效果与利益，<br><br>
平台的教师团队汇集中英各知名高校学府在社科，商科，工科等不同领域共800余名在职教授和博士，拥有丰富的海内外教学和留学经验，熟知各学校专业和课程的教学考试内容，并可以为每一位同学制定和提出个性化学习方案，建议和指导<br><br>

Erdemy Tutorial 致力于让广大留学生可以在短时间内解决语言，思维模式等方面的差异问题，迅速提升学习成绩，达到自身满意的效果</p>  -->
            </div>
        </div>
    </div>
</section>


<section style="background-color:white;">
          <div class="container mb-3 mt-5">  

				<div class="row justify-content-center mb-5">
				        
				        <div class="col-4 col-sm-3 col-md-2 col-lg-1 slideanim" >
					       <img src="images/Black_logo.png" class="img-fluid" alt="logo">
						</div>	

						<div class="col-auto my-auto slideanim" style="border-left:solid;">
						     <h2 >正课内容辅导</h2>
						</div>


				</div>

				<div class="row justify-content-center mb-5">
					  <div class="col-auto">
                       <p style="font-size:17px;">• 正课内容详解<br><br>• 课后作业详解<br><br>• 课外习题推荐<br><br>• 个性化学习方案制定<br><br>• 一对一一对多 小班教学</p>
                      </div>

                      <div class="col-auto slideanim padding_div" style="padding-left:20%;">
                          <img src="images/study.png" class="img-fluid mt-0 pt-0" alt="computerBG" width="370" height="100">
                      </div>

				</div>

				<div class="row justify-content-center">
				  <div class="col-auto">
					<button type="button" class="btn btn-primary btn-sm">
						<a href="https://docs.google.com/forms/d/e/1FAIpQLScCrv-FjZYD3OIUpGoIGdQOGYQoFwzl0xyBXfRzuEy2taBwQw/viewform?usp=sf_link" style="color:white;">立即报名</a>
					</button>		
				  </div>				  
 
				  <div class="col-auto">
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode">
									联系客服
								</button>							 

				  </div>
				</div>


          </div>  
</section>


<section>
          <div class="container mb-3 mt-5">  

				<div class="row justify-content-center mb-5">
				        
				        <div class="col-4 col-sm-3 col-md-2 col-lg-1 slideanim">
					       <img src="images/Black_logo.png" class="img-fluid" alt="logo">
						</div>

						<div class="col-auto my-auto slideanim" style="border-left:solid;">
						     <h2>考前押题冲刺辅导</h2>
						</div>


				</div>

				<div class="row justify-content-center mb-5">


                      <div class="col-auto slideanim padding_divdiv" >
                          <img src="images/study1.png" class="img-fluid mt-0 pt-0 " alt="computerBG" width="250" height="100">
                      </div>
					  <div class="col-auto padding_div" style="padding-left:20%;">
                       <p style="font-size:17px;">• 历年考试专题解答<br><br>• 考试内容知识点归纳整理<br><br>• 考试技巧总结<br><br>• 考前专题押题辅导<br><br>• 考前心理辅导</p>
                      </div>

				</div>

				<div class="row justify-content-center">
				  <div class="col-auto">
					<button type="button" class="btn btn-primary btn-sm">
						<a href="https://docs.google.com/forms/d/e/1FAIpQLScCrv-FjZYD3OIUpGoIGdQOGYQoFwzl0xyBXfRzuEy2taBwQw/viewform?usp=sf_link" style="color:white;">立即报名</a>
					</button>		
				  </div>				  
 
				  <div class="col-auto">
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode">
									联系客服
								</button>							 

				  </div>
				</div>


          </div>  
</section>

<section style="background-color:white;">
          <div class="container mb-3 mt-5">  

				<div class="row justify-content-center mb-5">
				        
				        <div class="col-4 col-sm-3 col-md-2 col-lg-1 slideanim" >
					       <img src="images/Black_logo.png" class="img-fluid" alt="logo">
						</div>	

						<div class="col-auto my-auto slideanim" style="border-left:solid;">
						     <h2 >学术写作专题辅导</h2>
						</div>


				</div>

				<div class="row justify-content-center mb-5">
					  <div class="col-auto">
                       <p style="font-size:17px;">•  论文写作思路结构辅导<br><br>•  文献整理归纳<br><br>•  proofreading</p>
                      </div>

                      <div class="col-auto slideanim padding_div" style="padding-left:20%;">
                          <img src="images/study2.png" class="img-fluid mt-0 pt-0" alt="computerBG" width="370" height="100">
                      </div>

				</div>

				<div class="row justify-content-center">
				  <div class="col-auto">
					<button type="button" class="btn btn-primary btn-sm">
						<a href="https://docs.google.com/forms/d/e/1FAIpQLScCrv-FjZYD3OIUpGoIGdQOGYQoFwzl0xyBXfRzuEy2taBwQw/viewform?usp=sf_link" style="color:white;">立即报名</a>
					</button>		
				  </div>				  
 
				  <div class="col-auto">
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode">
									联系客服
								</button>							 
				  </div>
				</div>


          </div>  
</section>



<section>
          <div class="container mb-3 mt-5">  

				<div class="row justify-content-center mb-5">
				        
				        <div class="col-4 col-sm-3 col-md-2 col-lg-1 slideanim" >
					       <img src="images/Black_logo.png" class="img-fluid" alt="logo">
						</div>	

						<div class="col-auto my-auto slideanim" style="border-left:solid;">
						     <h2 >语言班及预科专题辅导</h2>
						</div>


				</div>

				<div class="row justify-content-center mb-5">

                      <div class="col-auto slideanim">
                          <img src="images/study3.png" class="img-fluid mt-0 pt-0 padding_divdiv" alt="computerBG" width="370" height="100">
                      </div>

					  <div class="col-auto padding_div  mt-5" style="padding-left:20%;">
                       <p style="font-size:17px;">• 大论文小论文专题辅导<br><br>• 听力阅读技巧辅导<br><br>• 一对一，一对多大小班上课</p>
                      </div>



				</div>

				<div class="row justify-content-center">
				  <div class="col-auto">
					<button type="button" class="btn btn-primary btn-sm">
						<a href="https://docs.google.com/forms/d/e/1FAIpQLScCrv-FjZYD3OIUpGoIGdQOGYQoFwzl0xyBXfRzuEy2taBwQw/viewform?usp=sf_link" style="color:white;">立即报名</a>
					</button>		
				  </div>				  
 
				  <div class="col-auto">
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#qrcode">
									联系客服
								</button>							 
								<div class="modal fade" id="qrcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">联系客服</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="row justify-content-center">
													<img class="col-atuo" src="images/tutorial_contact.jpg" width="180" height="200">
												</div>
											</div>
										</div>
									</div>
								</div>
				  </div>
				</div>


          </div>  
</section>


<% include partials/footer %>
